.signin-box{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* align-items: center;    */
    height: 100vh;
    width: 100vw;
    /* overflow-x: hidden;
    overflow-y: hidden; */
}

.logo-signin{
   
    height: 3rem;

}
.form-box{
    width: 70% ;
    display: flex;
   height: 80%;
    flex-direction: column;
    
   gap: 0.6rem;
     /* background-color: antiquewhite; */
    
    padding: 0.8rem;
   
}
.logo-box{
    padding-left: 1rem;
    height: 11%;
    width: 100vw;
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    background-color: #fff;
    display: flex;
     /* justify-content: center;  */
    align-items: center;
}
.logo-title{
   height: 2rem;
   width: 7rem;
   display: flex;
   align-items: center;
}
.main-content{
    
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.mainheading{
    font-size: 3rem;
    font-weight: 600;
    color: #1c1b1b;
    
}
.desc{
    font-size: 1rem;
    color: #1e1e1e;
    font-weight: 300;
}
.email-box{
    display: flex;
    flex-direction: column;
    gap: 0rem;
}
.email-text{
    font-size: 1.5rem;
    color: #1e1e1e;
    font-weight: 600;
}

.input-box{
    border: 1px solid #c1bdbd;
    outline: none;
    width: 30%;
    height: 3.7rem;
    padding: 0.6rem;
    border-radius: 10px;
    max-width: 300px;
    
}

.btn-box{
    border: 1px solid #6a6565;
    outline: none;
    width: 35%;
    padding: 0.6rem;
    height: 3rem;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin-top: 0.4rem;
    max-width: 300px;
}
.btn-box-2{
    /* border: 1px solid #6a6565; */
    outline: none;
    width: 35%;
    padding: 0.6rem;
    height: 3rem;
    border-radius: 10px;
    background-color: #efefef;
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.btn-box-2:hover{
    background-color: #dcdcdc;
}
.btn-box:hover{
    background-color: #1c1c1c;
} 
.line-box{
    background-color: #6a6565;
    width: 35%;
    height: 0.1rem;
}
.main-signin{
    height: 89%;
   /* background-color: aqua; */
    width: 100vw;
    /* margin-left: 10%;

    margin-top: 3%; */
    /* background-color: rgb(197, 125, 18); */
    display: flex;
   padding-left: 10%
   ;
   align-items: center;
}
@media (min-width:1396px){
    .btn-box{
        width:30%;
        
    }
    .btn-box-2{
        width: 30%;
    }
    .input-box{
      width:29%;
    }
    .line-box{
        width: 30%;
    }
}
@media (min-width:930px) and (max-width:1396px){
    .btn-box{
        width:50%;
        
    }
    .btn-box-2{
        width: 50%;
    }
    .input-box{
      width:49%;
    }
    .line-box{
        width: 50%;
    }
}
@media (min-width: 600px) and  (max-width:930px) {
    .btn-box{
        width:70%;
    }
    .btn-box-2{
        width: 70%;
    }
    .input-box{
        width:66%;
    }
    .line-box{
        width: 70%;
    }
}
@media  (min-width:600px){
    .form-box{
        min-width: 500px;
    }
    .input-box{
        max-width: 550px;
    }
    .btn-box{
        max-width: 560px;
    }
    .btn-box-2{
        max-width: 560px;
    }
    .line-box{
        max-width: 560px;
    }
}
@media (max-width:600px){
    .form-box{
       width:90%;
    }
    .mainheading{
        font-size: 2rem;
    }
    .btn-box{
        width:90%;
    }
    .btn-box-2{
        width: 90%;
    }
    .input-box{
        width:88%;
    }
    .line-box{
        width: 90%;
    }
}
 @media (max-height:760px){
    .form-box{
        width:90%;
     }
     .mainheading{
         font-size: 1.8rem;
     }
     .email-text{
        font-size: 1.2rem;
     }
     .btn-box{
        
         height: 2.4rem;
     }
     .btn-box-2{
        
         height: 2.4rem;
     }
     .input-box{
        
         height: 2.4rem;
     }
    
 }